body {
    padding-top: 50px;
}

.odin-server {
    padding: 40px 15px;
    text-align: center;
}

.overall-table {
    padding: 40px 15px;
    white-space: nowrap;
    text-align: left;
}

.text-sample { /*
    padding: 40px 15px;
    white-space: nowrap; */
    text-align: left;
}

/* Create a nice(r) looking progres bar: 
        http://jsfiddle.net/AxDh7/ 
*/

.all-rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
    
.spacer {
    display: block;
}

.bad {
    border-color: red;
}
    
#progress-bar {
    width: 100px;
    background: #cccccc;
    position: relative;
}
    
#progress-bar-percentage {
    background: #3063A5;
    padding: 5px 0px;
    color: #000;
    text-align: center;
    height: 20px;
}

#progress-bar-percentage span {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}

/* Traffic lights, utilised by System Health */

.lamp {
    height: 30px;
    width: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
}
.lampRed {
    background-color: red;
}
.lampYellow {
    background-color: yellow;
}
.lampGreen {
    background-color: green;
}

/* Additional styling */

.main-container {
    /* width:100px;
    height:50px; */
    margin:10px;
    float:left;
  }
  .nav-widget-add {
    display:none;
  }
  .fixed-width {
    width:60px;
  }